<!DOCTYPE html>
<html lang="zxx" class="no-js">

	<head>
		<!-- Mobile Specific Meta -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link
		rel="shortcut icon" href="{{asset('img/sportsverse.png')}}">
		<!-- Author Meta -->
		<meta
		name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta
		name="description" content="">
		<!-- Meta Keyword -->
		<meta
		name="keywords" content="">
		<!-- meta character set -->
		<meta
		charset="UTF-8">
		<!-- Site Title -->
		<title>SportsVerse</title>
		<!--
						CSS
						============================================= -->
						<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		<link rel="stylesheet" href="{{asset('css/linearicons.css')}}">
		<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/themify-icons.css')}}">
		<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
		<link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">
		<link rel="stylesheet" href="{{asset('css/nice-select.css')}}">
		<link rel="stylesheet" href="{{asset('css/nouislider.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/ion.rangeSlider.css')}}"/>
		<link rel="stylesheet" href="{{asset('css/ion.rangeSlider.skinFlat.css')}}"/>
		<link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
		<link rel="stylesheet" href="{{asset('css/main.css')}}">
	</head>

	<body>
							

		<!-- Start Header Area -->
		<header class="header_area sticky-header">
			<div class="main_menu">
				<nav class="navbar navbar-expand-lg navbar-light main_box">
					<div
						class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="{{asset('img/SportsVerse.png')}}" alt="">Sportsverse</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="index.html">Accueil</a>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link" href="category.html">Fitness</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="single-product.html">Musculation</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="checkout.html">Boxe</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="cart.html">Panier</a>
										</li>
									</ul>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coaching</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											
										</li>
										<li class="nav-item">
											<a class="nav-link" href="single-blog.html">Suivi Seance</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="blog.html">Approuver Seance</a>
										</li>
									</ul>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="nav-link" href="login.html">Se Connecter</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="tracking.html">inscrire</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="elements.html">Elements</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('panier') }} ">Panier</a>
								</li>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="category.html">Réclamer</a>
									</li>
								</ul>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item">
									<button class="search">
										<span class="lnr lnr-magnifier" id="search"><img src="{{asset('img/social/rsz_1search')}}" alt=""></span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="search_input" id="search_input_box">
				<div class="container">
					<form class="d-flex justify-content-between">
						<input type="text" class="form-control" id="search_input" placeholder="Search Here">
						<button type="submit" class="btn"></button>
						<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
					</form>
				</div>
				
			</div>
		<!--notification passer commande -->
			{% if app.flashes('success') %}
							<div class='container'>
												<div id="success-alert" class="alert alert-success">
													Votre commande est en cours de traitement.. 
														<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</div>
							</div>
								<script>
									setTimeout(function() {
										$('#success-alert').fadeOut('slow');
									}, 6000); // 10 seconds
								</script>
			{% endif %}
			{% if app.flashes('successp') %}
							<div class='container'>
									   <div id="success-alert" class="alert alert-warning">
													Ce Produit existe deja dans le panier merci de la consulter 
													<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												</div>
												
										</div>
								<script>
									setTimeout(function() {
										$('#success-alert').fadeOut('slow');
									}, 6000); // 10 seconds
								</script>
			{% endif %}
		</header>

		<!-- End Header Area -->
		<!-- start banner Area 
		<section class="banner-area">
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-start">
					<div class="col-lg-12">
						<div
							class="active-banner-slider owl-carousel">
							
							
							<div class="row single-slide align-items-center d-flex">
								<div class="col-lg-5 col-md-6">
									<div class="banner-content">
									<h1>La volonté <br> augumente,<br>Les difficulté diminue</h1>


									</div>
								</div>
								<div class="col-lg-7">
									<div class="banner-img"> {#
										<img class="img-fluid" src="{{asset('img/banner/pub.jfif')}}" alt="">#}
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</section>
		 End banner Area -->

<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{{asset('img/banner/banner-img.png')}}"  alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{{asset('img/banner/banner-img.png')}}"alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	





		{% block body %}
			<!-- start features Area -->
			<section class="features-area section_gap">
				<div class="container">
					<div
						class="row features-inner">
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="{{asset('img/features/f-icon1.png')}}">
								</div>
								<h6>Free Delivery</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="{{asset('img/features/f-icon2.png')}}">
								</div>
								<h6>Return Policy</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="{{asset('img/features/f-icon3.png')}}">
								</div>
								<h6>24/7 Support</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
						<!-- single features -->
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-features">
								<div class="f-icon">
									<img src="{{asset('img/features/f-icon4.png')}}">
								</div>
								<h6>Secure Payment</h6>
								<p>Free Shipping on all order</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end features Area -->

			<!-- Start category Area -->
			<section class="category-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-12">
							<div class="row">
								<div class="col-lg-8 col-md-8">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="{{asset('img/category/c1.jpg')}}" alt="">
										<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title"></h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100"src="{{asset('img/category/c2.jpg')}}" alt="">
										<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title"></h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-4 col-md-4">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="{{asset('img/category/c3.jpg')}}" alt="">
										<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title"></h6>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-8 col-md-8">
									<div class="single-deal">
										<div class="overlay"></div>
										<img class="img-fluid w-100" src="{{asset('img/category/c4.jpg')}}" alt="">
										<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
											<div class="deal-details">
												<h6 class="deal-title"></h6>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{{asset('img/category/c5.jpg')}}" alt="">
								<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title"></h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End category Area -->

			<!-- start product Area -->
			<section class="owl-carousel active-product-area section_gap">
				<!-- single product slide -->
				{% block produit %}
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Derniers Produits</h1>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- afficher les produits      -->
								{% for produit in produits %}
									<div class="col-lg-3 col-md-6">
										<div class="single-product">
											<img class="img-fluid" src="{{asset('img/product/p1.jpg')}}" alt="">
											<div class="product-details">
												<h6>{{produit.nomProduit}}</h6>
												<div class="price">
													<h6>{{produit.prixTtc}} DT</h6>
													
												</div>
												<div class="prd-bottom">
																<!-- add to bag and send id produit to modal      -->
													<a href="#" class="social-info add-to-cart-button" data-product-name=" {{ produit.id }} ">
														<span class="lnr lnr-cart"></span>
														<p class="hover-text">add to bag</p>
													</a>

													<a href="" class="social-info">
														<span class="lnr lnr-heart"></span>
														<p class="hover-text">Wishlist</p>
													</a>
													<a href="" class="social-info">
														<span class="lnr lnr-sync"></span>
														<p class="hover-text">compare</p>
													</a>
													<a href="" class="social-info">
														<span class="lnr lnr-move"></span>
														<p class="hover-text">view more</p>
													</a>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								
							</div>
						</div>
					</div>
				{% endblock %}
				<!-- single product slide -->

				<div class="single-product-slider">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 text-center">
								<div class="section-title">
									<h1>Nos Coach</h1>
								</div>
							</div>
						</div>
						{% block coach %}
							<div
								class="row">
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p6.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">Add To Bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p8.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p3.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p5.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p1.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p4.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p1.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- single product -->
								<div class="col-lg-3 col-md-6">
									<div class="single-product">
										<img class="img-fluid" src="img/product/p8.jpg" alt="">
										<div class="product-details">
											<h6>addidas New Hammer sole
																																	for Sports person</h6>
											<div class="price">
												<h6>$150.00</h6>
												<h6 class="l-through">$210.00</h6>
											</div>
											<div class="prd-bottom">

												<a href="" class="social-info">
													<span class="lnr lnr-cart"></span>
													<p class="hover-text">add to bag</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-heart"></span>
													<p class="hover-text">Wishlist</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-sync"></span>
													<p class="hover-text">compare</p>
												</a>
												<a href="" class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">view more</p>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- end product Area -->
			{% endblock %}
			</section>
			<!-- Start exclusive deal Area -->
			<section class="exclusive-deal-area">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-6 no-padding exclusive-left">
							<div class="row clock_sec clockdiv" id="clockdiv">
								<div class="col-lg-12">
									<h1>Vente Flash!</h1>
									<p>Who are in extremely love with eco friendly system.</p>
								</div>
								<div class="col-lg-12">
									<div class="row clock-wrap">
										<div class="col clockinner1 clockinner">
											<h1 class="days">150</h1>
											<span class="smalltext">Days</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="hours">23</h1>
											<span class="smalltext">Hours</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="minutes">47</h1>
											<span class="smalltext">Mins</span>
										</div>
										<div class="col clockinner clockinner1">
											<h1 class="seconds">59</h1>
											<span class="smalltext">Secs</span>
										</div>
									</div>
								</div>
							</div>
							<a href="" class="primary-btn">Acheter Maintenant</a>
						</div>
						<div class="col-lg-6 no-padding exclusive-right">
							<div
								class="active-exclusive-product-slider">
								<!-- single exclusive carousel -->
								<div class="single-exclusive-slider">
									<img class="img-fluid" src="img/product/e-p1.png" alt="">
									<div class="product-details">
										<div class="price">
											<h6>$150.00</h6>
											<h6 class="l-through">$210.00</h6>
										</div>
										<h4>addidas New Hammer sole
																															for Sports person</h4>
										<div class="add-bag d-flex align-items-center justify-content-center">
											<a class="add-btn" href="">
												<span class="lnr lnr-cart"></span>
											</a>
											<span class="add-text text-uppercase">Add to Bag</span>
										</div>
									</div>
								</div>
								<!-- single exclusive carousel -->
								<div class="single-exclusive-slider">
									<img class="img-fluid" src="img/product/e-p1.png" alt="">
									<div class="product-details">
										<div class="price">
											<h6>$150.00</h6>
											<h6 class="l-through">$210.00</h6>
										</div>
										<h4>addidas New Hammer sole
																															for Sports person</h4>
										<div class="add-bag d-flex align-items-center justify-content-center">
											<a class="add-btn" href="">
												<span class="lnr lnr-cart"></span>
											</a>
											<span class="add-text text-uppercase">Add to Bag</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End exclusive deal Area -->

			<!-- Start brand Area -->
			<section class="brand-area section_gap">
				<div class="container">
					<div class="row">
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
						</a>
						<a class="col single-img" href="#">
							<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
						</a>
					</div>
				</div>
			</section>
		{% endblock %}
		<!-- End brand Area -->

		<!-- Start related-product Area -->

		<!-- End related-product Area -->

		<!-- start footer Area -->
			<footer class="footer-area section_gap"> <div class="container">
				<div class="row">
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Us</h6>
							<p>
								SPORTSVERSE est dédiés
																aux 					sportifs et à tous ceux qui sont
																						intéressés par les équipements sportifs pour
																						les faciliter tout type de shopping ou
																						coaching privée
							</p>
						</div>
					</div>
					<div class="col-lg-4  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>Stay update with our latest</p>
							<div class="" id="mc_embed_signup">

								<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

									<div class="d-flex flex-row">

										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">


										<button class="click-btn btn btn-default">
											<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
										</button>
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>

										<!-- <div class="col-lg-4 col-md-4">
																																<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
																															</div>  -->
									</div>
									<div class="info"></div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget mail-chimp">
							<h6 class="mb-20">Instragram Feed</h6>
							<ul class="instafeed d-flex flex-wrap">
								<li><img src="img/i1.jpg" alt=""></li>
								<li><img src="img/i2.jpg" alt=""></li>
								<li><img src="img/i3.jpg" alt=""></li>
								<li><img src="img/i4.jpg" alt=""></li>
								<li><img src="img/i5.jpg" alt=""></li>
								<li><img src="img/i6.jpg" alt=""></li>
								<li><img src="img/i7.jpg" alt=""></li>
								<li><img src="img/i8.jpg" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<p>Nos réseaux sociaux</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><img src="{{asset('img/social/rsz_facebook.png')}}" alt=""></i>
							</a>
							<a href="#"><img src="{{asset('img/social/rsz_twitter.png')}}" alt=""></i>
						</a>
						<a href="#"><img src="{{asset('img/social/rsz_instagram.png')}}" alt=""></i>
					</a>
					<a href="#"><img src="{{asset('img/social/rsz_gmail.png')}}" alt=""></a>
				</div>
			</div>
		</div>
	</body>



<!--            modal                 -->

<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToCartModalLabel">Ajouter au panier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
	  	   Voulez-vous ajouter ce produit à votre panier ou continuer vos achats ? 

					

       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer mes achats</button>
       <form id="myForm" action="{{ path('my_route') }}" method="POST">
						<input type="hidden" id="myHiddenInput" name="myVariable" value="">
						<button type="submit" class="btn btn-success">Ajouter au panier</button>
					</form>
      </div>
    </div>
  </div>
</div>


</html>
</div>
<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
<p
	class="footer-text m-0">
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>
		document.write(new Date().getFullYear());
	</script>
	SportsVerse
	<a href="https://colorlib.com" target="_blank"></a>
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p></div></div>
</footer><!-- End footer Area -->



<script src="{{asset('js/vendor/jquery-2.2.4.min.js')}}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script><script src="{{asset('js/vendor/bootstrap.min.js')}}"></script><script src="{{asset('js/jquery.ajaxchimp.min.js')}}"></script><script src="{{asset('js/jquery.nice-select.min.js')}}"></script><script src="{{asset('js/jquery.sticky.js')}}"></script><script src="{{asset('js/nouislider.min.js')}}"></script><script src="{{asset('js/countdown.js')}}"></script><script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script><script src="{{asset('js/owl.carousel.min.js')}}"></script><!--gmaps Js--><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script><script src="{{asset('js/gmaps.min.js')}}"></script><script src="{{asset('js/main.js')}}"></script></body></html>
<script>

$(document).ready(function() {
    $('.add-to-cart-button').click(function() {
	
		     var productName = $(this).data('product-name');
			$('#myHiddenInput').val(productName);

      $('#addToCartModal').modal('show');
    });
  });


</script>